<div class="post">
	<div class="header">
		<h1>Post title</h1>
		<button routerLink="/" class="btn btn-link">На главную</button>
	</div>

	<div class="info">
		<strong>Тут автор</strong>
		<small>01.02.2020</small>
	</div>

	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum eum quam sequi unde? Ad architecto,
			commodi deleniti eaque enim est excepturi, harum laudantium placeat, quaerat quos voluptatem? Dolor esse
			modi molestias nemo perferendis, rem unde voluptatum. Ab adipisci cumque dicta enim expedita in natus
			necessitatibus perspiciatis quos, voluptas voluptates?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum eum quam sequi unde? Ad architecto,
			commodi deleniti eaque enim est excepturi, harum laudantium placeat, quaerat quos voluptatem? Dolor esse
			modi molestias nemo perferendis, rem unde voluptatum. Ab adipisci cumque dicta enim expedita in natus
			necessitatibus perspiciatis quos, voluptas voluptates?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum eum quam sequi unde? Ad architecto,
			commodi deleniti eaque enim est excepturi, harum laudantium placeat, quaerat quos voluptatem? Dolor esse
			modi molestias nemo perferendis, rem unde voluptatum. Ab adipisci cumque dicta enim expedita in natus
			necessitatibus perspiciatis quos, voluptas voluptates?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum eum quam sequi unde? Ad architecto,
			commodi deleniti eaque enim est excepturi, harum laudantium placeat, quaerat quos voluptatem? Dolor esse
			modi molestias nemo perferendis, rem unde voluptatum. Ab adipisci cumque dicta enim expedita in natus
			necessitatibus perspiciatis quos, voluptas voluptates?</p>
	</div>


</div>
